pytz==2022.1
Django==4
djangorestframework-gis==1.0
djangorestframework==3.13.1
django-filter==22.1
django-sizefield==2.1.0
django-debug-toolbar==3.7.0
psycopg2==2.9.3
celery==5.2.7
redis==4.3.3
hiredis==2.0.0
celery==5.2.7
django-celery-beat==2.3.0
django-celery-results==2.5.1
paramiko==2.11.0
scp==0.14.4
Pillow==9.1.1
bridgekeeper==0.9
python-magic==0.4.27
#gspread==5.4.0
pandas==1.4.2
plotly==5.9.0
#django-crispy-forms==1.14.0
#django-autocomplete-light==3.9.4
#crispy-bootstrap5==0.7
django-cors-headers==4.4.0
djangorestframework-simplejwt==5.3.1
pyjwt==2.9.0
#django-recaptcha==3.0.0
#bagit==1.8.1
#scikit-image==0.19.3
#git+https://github.com/neutronX/django-markdownx@master
#pygments==2.12.0
#django-dbbackup==4.0.2
#thefuzz==0.20.0
pytest==8.3.3
pytest-django==4.9.0
factory-boy==3.3.1