.modal {
	display: block !important;
	background-color: #5050506e;
}

.detail-modal .modal-header {
	background: steelblue;
	padding: 0.1rem;
	color: whitesmoke;
}

.detail-modal .paginator-button {
	--bs-btn-hover-color: white;
	--bs-btn-hover-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-bg: transparent;
	--bs-btn-color: #ffffffbf;
	--bs-btn-active-color: #ffffffbf;
}

.detail-modal .paginator-button.disabled {
	border-color: transparent;
}

.detail-modal .close-button {
	--bs-btn-close-hover-opacity: 1 !important;
	--bs-btn-close-opacity: 0.5 !important;
}

.detail-modal .paginator-arrow {
	font-weight: bolder;
	font-size: 2rem !important;
	margin-bottom: 0.25rem !important;
}

.form-floating > label {
	background-color: transparent !important;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
	background-color: transparent !important;
}

.was-validated :invalid ~ .form-text .invalid-feedback,
.is-invalid ~ .form-text .invalid-feedback {
	display: inline;
	font-weight: bold;
}
