.card {
	max-width: 15rem;
	width: 15rem;
	max-height: 20rem;
	cursor: pointer;
}

.card:hover {
	padding: 7px !important;
	border-width: 2px !important;
	--bs-border-opacity: 1;
	border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
	box-shadow: var(--bs-box-shadow) !important;
}
