.gallery-page-controls .page-input {
	height: 100%;
	width: 4rem;
	border-left-style: none;
	border-width: thin;
	border-color: gray;
	padding-inline: 0.3rem;
}

.gallery-page-controls .page-description {
	border: gray;
	border-block-style: solid;
	border-block-width: thin;
	display: grid;
	align-items: center;
}

.gallery-page-controls .page-count {
	padding-inline: 1rem;
}

.gallery-page-controls .button-left {
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	height: 100%;
	width: 100%;
}

.gallery-page-controls .button-right {
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	height: 100%;
	width: 100%;
}

.gallery-page-controls .table-control {
	justify-items: right;
	place-content: center;
}
