<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- tom-select -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.bootstrap5.min.css" media="">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Alpinejs -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- CRSF -->
    <meta name="csrf-token" content="{{ csrf_token }}" />


</head>
<body>

    <script>

         const timezonesWithoffsets =  Intl.supportedValuesOf('timeZone').map(timeZone => {
            let offset=new Intl.DateTimeFormat(navigator.languages[0],{timeZone:timeZone, timeZoneName:'longOffset'}).formatToParts().find(part => part.type==='timeZoneName').value.replace('GMT','UTC')
            let abbreviation = new Intl.DateTimeFormat(navigator.languages[0],{timeZone:timeZone, timeZoneName:'short'}).formatToParts().find(part => part.type==='timeZoneName').value.replace('GMT','UTC')
            if (offset === 'UTC'){offset = 'UTC+00:00'}
            let sortOffset = Number(offset.replace('UTC','').replace('+','',).replace(':','.'))
            return ({'timeZone':timeZone, 'abbreviation':abbreviation, 'offset':offset, 'sortOffset': sortOffset})
        }) 

        const browserTimezone = new Intl.DateTimeFormat(navigator.languages[0],{timeZone:Intl.DateTimeFormat().resolvedOptions().timeZone, timeZoneName:'short'}).formatToParts().find(part => part.type==='timeZoneName').value.replace('GMT','UTC')
        const browserTimezoneOffset = new Intl.DateTimeFormat(navigator.languages[0],{timeZone:Intl.DateTimeFormat().resolvedOptions().timeZone, timeZoneName:'longOffset'}).formatToParts().find(part => part.type==='timeZoneName').value.replace('GMT','UTC')
        if (browserTimezoneOffset === 'UTC'){browserTimezoneOffset = 'UTC+00:00'}

        console.log(browserTimezoneOffset)

         function loadTimeZoneList(){   
            let allSelect = document.querySelectorAll(".dropdownTimeZone")
            
            
            allSelect.forEach((select)=>{
                console.log(select)
                let newSelect = new TomSelect(select,{
                    sortField: {
                            field: "sortOffset",
                            direction: "asc"
                        }
                })
                for (timeZone of timezonesWithoffsets){
                    newSelect.addOption({'text':`${timeZone['abbreviation']} ${timeZone['offset']}` ,
                    'value':timeZone['abbreviation'], 
                    'sortOffset':timeZone['sortOffset'], 
                    'offset':timeZone['offset']})
                }
                newSelect.addOption({'text':'GMT UTC+00:00','value':'UTC+00:00','offset':'UTC+00:00','sortOffset':0})
                newSelect.addItem(browserTimezone)
                
            })
        }

        function getTimeZoneCode(datetime){
            return datetime.toLocaleDateString(navigator.languages[0], {day:'2-digit', timeZoneName: 'short' }).substring(4);
        }

        function getOffset(timeZoneCode, removeUTC = false){
            timeZone = timezonesWithoffsets.find((element) => element['abbreviation']===timeZoneCode)
            let offset = timeZone['offset']
            if (removeUTC){
                offset = offset.replace('UTC','')
            }
            return offset
        }

        const dtFormat = new Intl.DateTimeFormat(navigator.languages[0], {
            year: "numeric",
  			month: "numeric",
  			day: "numeric",
    		hour: "numeric",
  			minute: "numeric",
  			second: "numeric",
            timeZoneName: 'short',
        })

        function tzStringFromTimeZoneCode(timeZoneCode){
            let timeZone = timezonesWithoffsets.find((element) => element['abbreviation']==timeZoneCode)['timeZone']
            return timeZone
        }

        function nativeTZ(date){
            let newdate = `${date.getFullYear()}-${padInt(date.getMonth()+1)}-${padInt(date.getDate())}T${padInt(date.getHours())}:${padInt(date.getMinutes())}:${padInt(date.getSeconds())}.${date.getMilliseconds()}`
            return newdate
        }

        function padInt(n){
            return String(n).padStart(2, '0')
        }
    </script>

    {% block content %}
    {% endblock %}
    
</body>
</html>