body {
	margin: 0;
	padding-top: 3rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.no-border:not(.form-validated .is-valid, .form-validated .is-invalid) {
	border: 0 !important;
}

.form-validated .valid-feedback,
.form-validated .invalid-feedback {
	display: revert !important;
}

.form-validated .is-valid,
.form-validated .is-inavlid {
	padding-right: revert;
	background-image: revert;
}

.form-switch {
	place-content: center;
}

.grecaptcha-badge {
	visibility: hidden !important;
}
